.search-page {
  padding: 20px;
  margin-bottom: 60px;
}

.service-header {
  text-align: center;
  margin-bottom: 30px;
}

.service-header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.service-header p {
  font-size: 1.2em;
  color: #070707;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.options-group {
  margin-bottom: 20px;
}

.option-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.options-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #0695f5;
}

.option.selected {
  background-color: #005ff8; /* 示例选中颜色 */
}

.option img {
  width: auto; /* 图片宽度增大 */
  height: 150px; /* 图片高度增大 */
  object-fit: cover;
  border-radius: 5px;
}

.go-button {
  display: block;
  width: 100px; /* GO按钮宽度 */
  height: 40px; /* GO按钮高度 */
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff; /* GO按钮背景颜色 */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.search-results {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.result {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.result img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.result h3 {
  margin-top: 10px;
}

.result p {
  margin-top: 5px;
}