.high-contrast * {
  background-color: black !important;
  color: white !important;
  border-color: white !important;
}

.high-contrast-toggle-button {
  background-color: yellow;
  color: black;
  border: 2px solid white;
  font-size: 1.5em; /* 增大字体 */
  font-weight: bold; /* 字体加粗 */
  padding: 10px 20px; /* 增加内边距 */
  border-radius: 5px; /* 圆角边框 */
  cursor: pointer; /* 鼠标指针 */
  box-shadow: 0 0 10px white; /* 添加阴影效果 */
  transition: transform 0.2s; /* 添加点击效果 */
}



.high-contrast-toggle-button:active {
  transform: scale(0.95); /* 点击时缩小按钮 */
}

.high-contrast .card {
  background-color: #333 !important;
  color: white !important;
}

/* 高对比模式下的标题样式 */
.high-contrast h1, .high-contrast h2, .high-contrast h3, .high-contrast h4, .high-contrast h5, .high-contrast h6 {
  color: yellow !important;
}