@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.encourage-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px; /* Ensure title text doesn't overlap */
  font-family: 'Roboto', sans-serif; /* Change font */
  position: relative; /* Ensure relative positioning */
  margin-bottom: 60px;
}

.page-header {
  margin-bottom: 20px;
}

.bubble-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  max-height: 1800px;
  background-image: url('https://wallpapers.com/images/hd/bubbles-background-xvtqhlirxxqtttp7.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 20px; /* Optional: Add rounded corners */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(154, 149, 149, 0.295); /* Semi-transparent black background */
  z-index: 0; /* Ensure it stays behind the bubbles */
}

.bubble {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  border: 2px solid #fff; /* Add border */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  z-index: 1;
  transform: translate(-50%, -50%);
}

.bubble-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Circular shape */
  background-color: rgba(150, 255, 255, 0.5); /* Add semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-content {
  text-align: center;
  padding: 20px;
  font-size: 18px; /* Adjust font size */
}

.bubble.popped {
  position: absolute;
  width: 450px; /* Larger bubble when clicked */
  height: 450px; /* Auto height */
  background-color: rgba(255, 255, 255, 0.8); /* Background color */
  padding: 40px; /* Padding */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Add shadow */
  z-index: 2; /* Ensure it appears above other elements */
}

.bubble.popped h1 {
  font-size: 36px; /* Adjusted font size when popped */
  color: red; /* Change to red */
}